.form-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: white;
    box-shadow: 2px 2px 8px 8px #ffffff;
    padding: 100px;
    padding-bottom: 50px;
    padding-top: 20px;
    border-radius: 20px;
    width: 1000px;
    margin: 25px auto 50px;
    margin-left: 10rem;
}

.headingD{
    text-decoration: black underline;
    text-shadow: 5px 5px 30px blue, 0 0 1em purple, 0 0 0.2em purple; 
}

.colorScheme{
    text-shadow: 5px 5px 30px blue, 0 0 1em purple, 0 0 0.2em purple;
}


.info img{
    box-shadow: none;
    height: 60px;
    width: 60px;
    border-radius: 0;
    float: right;
}

