.flex-container{
    /* border:2px solid teal; */
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 5% auto;
    position: relative;
}

.box-container{
    flex-wrap: wrap;
    justify-content: space-around;
}



.shape{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border:2px solid white; */
    height: 300px;
    width: 1500px;
}

.layout{
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    height: 160px;
    width: 305px;
    background-color: rgb(235, 94, 228);
}